<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Error 404</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">

  <div class="content-wrapper">
    
    <ng-lottie 
      [options]="options"
      style="width: 250px; height: 250px; margin: auto;"
    ></ng-lottie>

    <h1 class="ion-margin-top">Página No Encontrada</h1>
    <p>Lo sentimos, la ruta a la que intentas acceder no existe en esta aplicación.</p>

    <ion-note color="medium">
      Error de enrutamiento: <strong>404</strong>
    </ion-note>
  </div>

  
  <ion-button 
    routerLink="/login" 
    expand="block" 
    fill="solid" 
    color="primary" 
    class="return-button"
  >
    Volver a la Página Principal
  </ion-button>

</ion-content>
